@import url("https://fonts.googleapis.com/css?family=Lato");
* { box-sizing: border-box; }

body { 
	background: #0984e3;
	color: #fff;
	font-family: 'Lato', sans-serif;
}

h1 { 
	margin: 0 auto;
	margin-top: 12vh;
	font-size: 4em;
	text-align: center;
	margin-bottom: 10vh;
}

h2, h3 {
	text-align: center;
	margin: 60px;
}

button {
	display: block;
	margin: 0 auto;
	width: 25%;
	font-size: 30px;
	padding: 15px;
	color: #fff;
	border: 2px solid #fff;
	background-color: #0984e3;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 45px;
}

button:hover {
	background-color: #fff;
	color: #0984e3;
}

a {
	display: block;
	margin: 0 auto;
	font-size: 30px;
	text-decoration: none;
	color: #fff;
	width: 25%;
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 15px;
	text-align: center;
	margin-top: 45px;
}

i {
	margin-right: 10px;
}

a:hover {
	background-color: #fff;
	color: #0984e3;
}